.go-back {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  padding: 2.5rem 1.25rem;
  border-radius: 100%;
  background: #134074;
  color: #f8edeb;
  user-select: none;
  cursor: pointer;
  transition: 200ms all ease-in-out;

  &:hover {
    background: #13315c;
    transform: scale(1.2);
  }
}

.detail-container {
  padding: 0 20rem;
  margin-top: 5rem;

  &_inner {
    background: linear-gradient(to bottom, transparent, #a7a7a7) #dfdfdf;
    padding: 5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;

    img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 100%;
      margin-top: -14rem;
    }
  }

  &_info {
    &-mail_phone {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      font-weight: 400;
      font-style: italic;
    }
    &-name {
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 1.5rem;
    }
    &-job {
      font-size: 1.5rem;
      font-weight: 400;
    }
    &-age {
      border-bottom: 1px solid;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &-desc {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 1.5rem;
      text-align: start;
      display: flex;
      flex-direction: column;

      span {
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
