$cardBackground: #003049;
$cardBackgroundHover: #003f62;
$cardText: #c6ac8f;
$cardVoteBackground: #d62828;
$cardVoteBackgroundHover: #f32f2f;
$cardVoteTextNum: #fcbf49;
$cardVoteTextLabel: #eae2b7;
$backgroundStart: #3f7cac;
$backgroundEnd: #95afba;
$headerColor: white;
